# US Stock Screening (Post Market) v0

In this notebook we try to achieve
- Screen US Common Stock with previous day Volume
- Send Telegram notice

Timeline as follow:

|| T0 | T1 | T2 | T3 |
| --- | --- | --- | --- | --- |
| Expected trend | x | Volume Rise | Volume Drop | Price Rise |
| Action | x | **Create Potential Stocks List** | Enter Market near day end | |

Import Library

In [1]:
import numpy as np
import pandas as pd
import requests
import xlsxwriter
import math
from scipy import stats

Import Token

In [2]:
from secrets import IEX_SANDBOX_API_TOKEN as IEX_CLOUD_API_TOKEN
baseUrl = f'https://sandbox.iexapis.com/stable'

# from secrets import IEX_CLOUD_API_TOKEN
# baseUrl = f'https://cloud.iexapis.com/stable'

IEX Cloud API test call

In [3]:
symbol = 'AMZN'
symbolString = 'AAPL,TSLA,BIAF,AMZN'

# quote of a stock
batchQuotePreviousUrl = f'/stock/market/batch?symbols={symbolString}&types=quote,previous&token={IEX_CLOUD_API_TOKEN}'

apiUrl = baseUrl + batchQuotePreviousUrl
# data = requests.get(apiUrl)
# print(data.status_code)
# print(data.text)
# data = requests.get(apiUrl).json()
# data

## Preparation

Fetch all available symbol, filter with "US" and "common stock".

In [4]:
refDataUrl = f'/ref-data/symbols?token={IEX_CLOUD_API_TOKEN}'
apiUrl = baseUrl + refDataUrl

data = requests.get(apiUrl).json()
# data

In [5]:
allSymbolsColumns = [
    "symbol",
    "name",
    "date",
    "type",
    "iexId",
    "region",
    "currency",
    "isEnabled",
    "figi",
    "cik",
]

allSymbolsDataFrame = pd.DataFrame(columns = allSymbolsColumns)

for symbol in data:
    if symbol['type'] == 'cs' and symbol['region'] == 'US':
        allSymbolsDataFrame = allSymbolsDataFrame.append(
            pd.Series(
                [
                    symbol['symbol'],
                    symbol['name'],
                    symbol['date'],
                    symbol['type'],
                    symbol['iexId'],
                    symbol['region'],
                    symbol['currency'],
                    symbol['isEnabled'],
                    symbol['figi'],
                    symbol['cik'],
                ],
                index = allSymbolsColumns
            ),
            ignore_index = True
        )
allSymbolsDataFrame

,symbol,name,date,type,iexId,region,currency,isEnabled,figi,cik
0,A,tocc.o eg enneAnilhlTiIgs,2022-07-12,cs,IEX_46574843354B2D52,US,USD,True,BBGV326000DC,1145365
1,AA,loo ACarpc,2022-07-12,cs,IEX_4238333734532D52,US,USD,True,3B3BDB3G0HT0,1682266
2,AAC,slpraaoC in- As eo trii AoucsoArsnqiCt,2022-07-12,cs,None,US,USD,True,920ZCZY1B0BG,1858074
3,AACI,niod icpaCamrsotiAurI Aq,2022-07-12,cs,None,US,USD,True,10BR36BGX107,1872348
4,AADI,Acicsdna i cienIBeo,2022-07-12,cs,None,US,USD,True,G02B7NB2DT0W,1486457
...,...,...,...,...,...,...,...,...,...,...
6209,ZWS,eatE SunpouokZtlsCri nlaWo yrr,2022-07-12,cs,None,US,USD,True,8B0RB008GHN0,1474044
6210,ZY,IeZnmnceygr,2022-07-12,cs,None,US,USD,True,0H7P470N7BBG,1713897
6211,ZYME,ecsmko yZwIrn,2022-07-12,cs,IEX_5253315838322D52,US,USD,True,00DGBBG55JL1,1442638
6212,ZYNE,nunPbr aZarieecyIsahtmccla,2022-07-12,cs,IEX_4E3154424A382D52,US,USD,True,SBG8BB7B070B,1660687
6213,ZYXI,nZyInx ec,2022-07-12,cs,IEX_4E464C4C4A462D52,US,USD,True,0JG0BZXB0BB2,853766

Define chunks to prepare for batch API call

In [6]:
def chunks(lst, n):
    """Yield successive n-sized chunks from lst."""
    for i in range(0, len(lst), n):
        yield lst[i:i + n]
        
symbolGroups = list(chunks(allSymbolsDataFrame['symbol'], 100))
symbolStrings = []
for i in range(0, len(symbolGroups)):
    symbolStrings.append(','.join(symbolGroups[i]))
#     print(symbol_strings[i])

symbolStrings

['A,AA,AAC,AACI,AADI,AAIC,AAL,AAMC,AAME,AAN,AAOI,AAON,AAP,AAPL,AAQC,AAT,AATC,AAU,AAWW,ABBV,ABC,ABCB,ABCL,ABEO,ABG,ABGI,ABIO,ABM,ABMD,ABNB,ABOS,ABR,ABSI,ABST,ABT,ABTX,ABUS,ABVC,AC,ACA,ACAB,ACAD,ACAH,ACAQ,ACAX,ACB,ACBA,ACC,ACCD,ACCO,ACDI,ACEL,ACER,ACET,ACEV,ACGL,ACHC,ACHR,ACHV,ACI,ACII,ACIU,ACIW,ACLS,ACLX,ACM,ACMR,ACN,ACNB,ACON,ACOR,ACP,ACQR,ACR,ACRE,ACRO,ACRS,ACRX,ACST,ACT,ACTD,ACTG,ACU,ACV,ACVA,ACXP,ADAL,ADBE,ADC,ADCT,ADER,ADES,ADEX,ADGI,ADI,ADIL,ADM,ADMA,ADMP,ADN',
 'ADNT,ADOC,ADP,ADPT,ADRA,ADRT,ADSE,ADSK,ADT,ADTH,ADTN,ADTX,ADUS,ADV,ADVM,ADX,AE,AEAC,AEAE,AEE,AEF,AEHA,AEHL,AEHR,AEI,AEIS,AEL,AEM,AEMD,AEO,AEP,AER,AERC,AERI,AES,AESE,AEVA,AEY,AEYE,AEZS,AFAC,AFAQ,AFAR,AFB,AFBI,AFCG,AFG,AFIB,AFL,AFMD,AFRI,AFRM,AFT,AFTR,AFYA,AG,AGAC,AGBA,AGCB,AGCO,AGD,AGE,AGEN,AGFS,AGFY,AGGR,AGI,AGIL,AGIO,AGL,AGLE,AGM,AGMH,AGNC,AGO,AGR,AGRI,AGRO,AGRX,AGS,AGTC,AGTI,AGX,AGYS,AHCO,AHH,AHPA,AHPI,AHRN,AHT,AI,AIB,AIF,AIG,AIHS,AIKI,AIM,AIMC,AIN,AINC',
 'AINV,AIO,AIP,AIR,AIRC,AIRG,AIRI,AIRS,AIRT,AIT,AIV,AIZ,AJG,AJRD,AJX,AKA,AKAM,AKAN,AKBA,AKIC,AKR,AKRO,AKTS,AKU,AKUS,AKYA,AL,ALB,ALBO,ALC,ALCC,ALCO,ALDX,ALE,ALEC,ALEX,ALF,ALG,ALGM,ALGN,ALGS,ALGT,ALHC,ALIM,ALIT,ALJJ,ALK,ALKS,ALKT,ALL,ALLE,ALLG,ALLK,ALLO,ALLR,ALLT,ALLY,ALNA,ALNY,ALOR,ALOT,ALPA,ALPN,ALPP,ALR,ALRM,ALRN,ALRS,ALSA,ALSN,ALT,ALTG,ALTO,ALTR,ALTU,ALV,ALVO,ALVR,ALX,ALXO,ALYA,ALZN,AM,AMAL,AMAO,AMAT,AMBA,AMBC,AMBP,AMC,AMCI,AMCR,AMCX,AMD,AME,AMED,AMEH,AMG,AMGN,AMH',
 'AMK,AMKR,AMLX,AMN,AMNB,AMOT,AMP,AMPE,AMPG,AMPH,AMPI,AMPL,AMPS,AMPY,AMR,AMRC,AMRK,AMRS,AMRX,AMS,AMSC,AMSF,AMST,AMSWA,AMT,AMTB,AMTI,AMTX,AMWD,AMWL,AMZN,AN,ANAB,ANAC,ANDE,ANEB,ANET,ANF,ANGH,ANGI,ANGN,ANGO,ANIK,ANIP,ANIX,ANNX,ANSS,ANTM,ANTX,ANVS,ANY,ANZU,AOD,AOGO,AOMR,AON,AORT,AOS,AOSL,AOUT,AP,APA,APAC,APAM,APCA,APCX,APD,APDN,APEI,APEN,APG,APGB,APH,APLD,APLE,APLS,APLT,APM,APMI,APN,APO,APOG,APP,APPF,APPH,APPN,APPS,APRE,APRN,APT,APTM,APTO,APTS,APTV,APTX,APVO,APWC,APXI,APYX,AQB',
 'AQMS,AQN,AQST,AQUA,AR,ARAV,ARAY,ARBE,ARBG,ARC,ARCB,ARCC,ARCE,ARCH,ARCK,ARCO,ARCT,ARDC,ARDS,ARDX,ARE,AREB,AREC,AREN,ARES,ARGO,ARGU,ARHS,ARI,ARIS,ARIZ,ARKO,ARKR,ARL,ARLO,ARMK,ARMP,ARNC,AROC,AROW,ARQQ,ARQT,ARR,ARRW,ARRY,ARTE,ARTL,ARTNA,ARTW,ARVL,ARVN,ARW,ARWR,ARYD,ARYE,ASA,ASAN,ASAQ,ASAX,ASB,ASC,ASCA,ASCB,ASG,ASGI,ASGN,ASH,ASIX,ASLE,ASM,ASMB,ASNS,ASO,ASPA,ASPC,ASPN,ASPS,ASPU,ASRT,ASRV,ASTC,ASTE,ASTL,ASTR,ASTS,ASUR,ASXC,ASYS,ASZ,ATA,ATAI,ATAK,ATAQ,ATC,ATCO,ATCX,ATEC,ATEK,ATEN,ATER',
 'ATEX,ATGE,ATHA,ATHX,ATI,ATIF,ATIP,ATKR,ATLC,ATLO,ATNF,ATNI,ATNM,ATNX,ATO,ATOM,ATOS,ATR,ATRA,ATRC,ATRI,ATRO,ATSG,ATTO,ATUS,ATVC,ATVI,ATXI,ATXS,ATY,AUB,AUBN,AUD,AUDC,AUGX,AUID,AUMN,AUPH,AUR,AURA,AURC,AUS,AUST,AUTO,AUUD,AUVI,AUY,AVA,AVAC,AVAH,AVAN,AVAV,AVB,AVCO,AVCT,AVD,AVDX,AVEO,AVGO,AVGR,AVHI,AVID,AVIR,AVK,AVLR,AVNS,AVNT,AVNW,AVO,AVPT,AVRE,AVRO,AVT,AVTE,AVTR,AVTX,AVXL,AVY,AVYA,AWF,AWH,AWI,AWK,AWP,AWR,AWRE,AWX,AX,AXAC,AXDX,AXGN,AXH,AXL,AXLA,AXNX,AXON,AXP,AXR,AXS,AXSM',
 'AXTA,AXTI,AXU,AY,AYI,AYLA,AYRO,AYTU,AYX,AZ,AZEK,AZO,AZPN,AZRE,AZTA,AZYO,AZZ,B,BA,BAC,BACA,BAFN,BAH,BALL,BALY,BAM,BAMR,BANC,BAND,BANF,BANR,BANX,BAOS,BAP,BARK,BASE,BATL,BATRA,BATRK,BAX,BB,BBAI,BBBY,BBCP,BBDC,BBGI,BBI,BBIG,BBIO,BBLG,BBLN,BBN,BBQ,BBSI,BBUC,BBW,BBWI,BBY,BC,BCAB,BCAC,BCAN,BCAT,BCBP,BCC,BCDA,BCE,BCEL,BCLI,BCML,BCO,BCOR,BCOV,BCOW,BCPC,BCRX,BCSA,BCSF,BCTX,BCV,BCX,BDC,BDJ,BDL,BDN,BDR,BDSX,BDTX,BDX,BE,BEAM,BEAT,BECN,BEEM,BELFA,BELFB,BEN,BENE,BEPC,BERY',
 'BFAC,BFAM,BFC,BFH,BFI,BFIN,BFK,BFLY,BFRI,BFS,BFST,BFZ,BG,BGB,BGCP,BGFV,BGH,BGI,BGR,BGRY,BGS,BGSF,BGSX,BGT,BGX,BGXX,BGY,BH,BHAC,BHAT,BHB,BHC,BHE,BHF,BHG,BHIL,BHK,BHLB,BHR,BHSE,BHV,BHVN,BIAF,BIG,BIGC,BIGZ,BIIB,BILL,BIMI,BIO,BIOC,BIOL,BIOR,BIOS,BIOT,BIOX,BIPC,BIRD,BIT,BITE,BITF,BIVI,BJ,BJDX,BJRI,BK,BKCC,BKD,BKE,BKH,BKI,BKKT,BKN,BKNG,BKR,BKSC,BKSY,BKT,BKTI,BKU,BKYI,BL,BLBD,BLBX,BLCM,BLCO,BLD,BLDE,BLDP,BLDR,BLE,BLEU,BLFS,BLFY,BLI,BLIN,BLK,BLKB,BLMN,BLND',
 'BLNG,BLNK,BLPH,BLSA,BLTS,BLU,BLUA,BLUE,BLW,BLX,BLZE,BMAC,BMAQ,BMBL,BME,BMEA,BMEZ,BMI,BMO,BMRA,BMRC,BMRN,BMTX,BMY,BNED,BNFT,BNGO,BNIX,BNL,BNNR,BNRG,BNS,BNSO,BNTC,BNY,BOAC,BOAS,BOC,BOCN,BODY,BOE,BOH,BOKF,BOLT,BON,BOOM,BOOT,BORR,BOSC,BOTJ,BOWL,BOX,BOXD,BOXL,BPAC,BPMC,BPOP,BPRN,BPTH,BR,BRAC,BRAG,BRBR,BRBS,BRC,BRCC,BRCN,BRD,BRDG,BRDS,BREZ,BRFH,BRG,BRID,BRIV,BRKH,BRKL,BRKR,BRLI,BRLT,BRMK,BRN,BRO,BROG,BROS,BRP,BRPM,BRQS,BRSP,BRT,BRTX,BRW,BRX,BRY,BRZE,BSAQ,BSBK,BSET,BSFC,BSGA',
 'BSGM,BSIG,BSKY,BSL,BSQR,BSRR,BST,BSTZ,BSVN,BSX,BSY,BTA,BTAI,BTB,BTBD,BTBT,BTCS,BTCY,BTG,BTMD,BTN,BTO,BTOG,BTRS,BTT,BTTR,BTTX,BTU,BTWN,BTX,BTZ,BUI,BUR,BURL,BUSE,BV,BVH,BVS,BW,BWA,BWAC,BWAQ,BWB,BWC,BWEN,BWFG,BWG,BWMN,BWMX,BWV,BWXT,BX,BXC,BXMT,BXMX,BXP,BXRX,BXSL,BY,BYD,BYFC,BYM,BYN,BYND,BYNO,BYRN,BYSI,BYTS,BZFD,BZH,C,CAAP,CAAS,CABA,CABO,CAC,CACC,CACI,CADE,CADL,CAE,CAF,CAG,CAH,CAKE,CAL,CALA,CALB,CALM,CALX,CAMP,CAMT,CANB,CANO,CAPR,CAR,CARA,CARE,CARG,CARR',
 'CARS,CARV,CASA,CASH,CASI,CASS,CASY,CAT,CATC,CATO,CATY,CB,CBAN,CBAT,CBAY,CBFV,CBH,CBIO,CBL,CBNK,CBOE,CBRE,CBRG,CBRL,CBSH,CBT,CBTX,CBU,CBZ,CC,CCAI,CCAP,CCB,CCBG,CCCC,CCCS,CCD,CCEL,CCEP,CCF,CCI,CCJ,CCK,CCL,CCMP,CCNC,CCNE,CCO,CCOI,CCRD,CCRN,CCS,CCSI,CCTS,CCV,CCVI,CCXI,CDAK,CDAQ,CDAY,CDE,CDEV,CDK,CDLX,CDMO,CDNA,CDNS,CDR,CDRE,CDRO,CDTX,CDW,CDXC,CDXS,CDZI,CE,CEAD,CECE,CEE,CEG,CEI,CEIX,CELC,CELH,CELU,CELZ,CEM,CEMI,CEN,CENN,CENQ,CENT,CENTA,CENX,CERE,CERS,CERT,CET,CETX,CEV',
 'CEVA,CF,CFB,CFBK,CFFE,CFFI,CFFN,CFFS,CFG,CFIV,CFLT,CFMS,CFR,CFRX,CFSB,CFVI,CG,CGA,CGAU,CGBD,CGC,CGEM,CGEN,CGNT,CGNX,CGO,CGRN,CGTX,CHAA,CHCI,CHCO,CHCT,CHD,CHDN,CHE,CHEA,CHEF,CHEK,CHGG,CHH,CHI,CHK,CHKP,CHMG,CHMI,CHN,CHNG,CHNR,CHPT,CHRA,CHRD,CHRS,CHRW,CHS,CHTR,CHUY,CHW,CHWA,CHWY,CHX,CHY,CI,CIA,CIDM,CIEN,CIF,CIFR,CIGI,CII,CIIG,CIK,CIM,CINC,CINF,CING,CINT,CIO,CION,CIR,CISO,CITE,CIVB,CIVI,CIX,CIXX,CIZN,CJJD,CKPT,CKX,CL,CLAA,CLAQ,CLAR,CLAS,CLAY,CLB,CLBK,CLBR,CLBS,CLBT',
 'CLDT,CLDX,CLEU,CLF,CLFD,CLGN,CLH,CLIM,CLIN,CLIR,CLM,CLNE,CLNN,CLOE,CLOV,CLPR,CLPS,CLPT,CLR,CLRB,CLRC,CLRM,CLRO,CLS,CLSD,CLSK,CLSN,CLST,CLVR,CLVS,CLVT,CLW,CLWT,CLX,CLXT,CM,CMA,CMAX,CMBM,CMC,CMCA,CMCL,CMCO,CMCSA,CMCT,CME,CMG,CMI,CMLS,CMP,CMPO,CMPR,CMPX,CMRA,CMRE,CMRX,CMS,CMT,CMTG,CMTL,CMU,CNA,CNC,CNCE,CND,CNDA,CNDB,CNDT,CNET,CNEY,CNFR,CNGL,CNHI,CNI,CNK,CNM,CNMD,CNNB,CNNE,CNO,CNOB,CNP,CNQ,CNR,CNS,CNSL,CNSP,CNTG,CNTQ,CNTX,CNTY,CNVY,CNX,CNXA,CNXC,CNXN,CO,COCO,COCP,CODA',
 'CODI,CODX,COF,COFS,COGT,COHN,COHR,COHU,COIN,COKE,COLB,COLD,COLI,COLL,COLM,COMM,COMP,COMS,CONN,CONX,COO,COOK,COOL,COOP,COP,CORR,CORS,CORT,CORZ,COSM,COST,COTY,COUP,COUR,COVA,COWN,CP,CPA,CPAA,CPAQ,CPAR,CPB,CPE,CPF,CPG,CPHC,CPHI,CPIX,CPK,CPNG,CPOP,CPRI,CPRT,CPRX,CPS,CPSH,CPSI,CPSS,CPT,CPTK,CPTN,CPUH,CPZ,CR,CRAI,CRBP,CRBU,CRC,CRCT,CRDF,CRDL,CRDO,CREC,CREG,CREX,CRF,CRGE,CRGY,CRHC,CRI,CRIS,CRK,CRKN,CRL,CRM,CRMD,CRMT,CRNC,CRNT,CRNX,CRON,CROX,CRS,CRSP,CRSR,CRT,CRTD,CRTX,CRU,CRUS',
 'CRVL,CRVS,CRWD,CRWS,CRXT,CRZN,CSBR,CSCO,CSCW,CSGP,CSGS,CSII,CSIQ,CSL,CSLM,CSPI,CSQ,CSR,CSSE,CSTA,CSTE,CSTL,CSTM,CSTR,CSV,CSWC,CSWI,CSX,CTAQ,CTAS,CTBI,CTEK,CTG,CTGO,CTHR,CTIB,CTIC,CTKB,CTLP,CTLT,CTMX,CTO,CTOS,CTR,CTRA,CTRE,CTRM,CTRN,CTS,CTSH,CTSO,CTT,CTV,CTVA,CTXR,CTXS,CUBA,CUBE,CUBI,CUE,CUEN,CULL,CULP,CURI,CURO,CURV,CUTR,CUZ,CVAC,CVBF,CVCO,CVCY,CVE,CVEO,CVET,CVGI,CVGW,CVI,CVII,CVLG,CVLT,CVLY,CVM,CVNA,CVR,CVRX,CVS,CVT,CVV,CVX,CW,CWAN,CWBC,CWBR,CWCO,CWEN,CWH,CWK,CWST,CWT',
 'CXAC,CXDO,CXE,CXH,CXM,CXW,CYAN,CYBE,CYBN,CYBR,CYCC,CYCN,CYD,CYH,CYN,CYRN,CYRX,CYT,CYTH,CYTK,CYTO,CYXT,CZFS,CZNC,CZOO,CZR,CZWI,D,DAC,DAIO,DAKT,DAL,DALN,DALS,DAN,DAOO,DAR,DARE,DASH,DATS,DAVE,DAWN,DB,DBD,DBGI,DBI,DBL,DBRG,DBTX,DBX,DC,DCBO,DCF,DCFC,DCGO,DCI,DCO,DCOM,DCPH,DCRD,DCT,DCTH,DD,DDD,DDF,DDOG,DDS,DE,DEA,DECA,DECK,DEI,DELL,DEN,DENN,DERM,DESP,DEX,DFFN,DFH,DFIN,DFP,DFS,DG,DGHI,DGICA,DGICB,DGII,DGLY,DGNU,DGX,DH,DHAC,DHBC,DHC,DHCA,DHF,DHHC,DHI,DHIL',
 'DHR,DHT,DHX,DHY,DIAX,DIBS,DICE,DILA,DIN,DINO,DIOD,DIS,DISA,DISH,DIT,DJCO,DK,DKDCA,DKNG,DKS,DLA,DLB,DLCA,DLHC,DLO,DLPN,DLR,DLTH,DLTR,DLX,DLY,DM,DMA,DMAC,DMAQ,DMB,DMF,DMO,DMRC,DMS,DMTK,DMYS,DNA,DNAA,DNAB,DNAC,DNAD,DNAY,DNB,DNLI,DNMR,DNN,DNOW,DNP,DNUT,DNZ,DO,DOC,DOCN,DOCS,DOCU,DOGZ,DOLE,DOMA,DOMO,DOOO,DOOR,DORM,DOUG,DOV,DOW,DOX,DPCS,DPG,DPRO,DPSI,DPZ,DRAY,DRCT,DRE,DRH,DRI,DRIO,DRMA,DRQ,DRRX,DRTS,DRTT,DRUG,DRVN,DS,DSAC,DSAQ,DSEY,DSGN,DSGR,DSGX,DSKE,DSL,DSM',
 'DSP,DSS,DSU,DSWL,DSX,DT,DTC,DTE,DTEA,DTF,DTIL,DTM,DTOC,DTRT,DTSS,DTST,DUET,DUK,DUNE,DUOL,DUOT,DV,DVA,DVAX,DVN,DWAC,DWIN,DWSN,DX,DXC,DXCM,DXLG,DXPE,DXR,DXYN,DY,DYAI,DYFN,DYN,DYNT,DZSI,EA,EAC,EAD,EAF,EAR,EARN,EAST,EAT,EB,EBAC,EBAY,EBC,EBET,EBF,EBIX,EBMT,EBON,EBS,EBTC,ECAT,ECC,ECF,ECL,ECOM,ECOR,ECPG,ECVT,ED,EDBL,EDD,EDF,EDI,EDIT,EDNC,EDR,EDRY,EDSA,EDTK,EDTX,EDUC,EE,EEA,EEFT,EEIQ,EEX,EFC,EFL,EFOI,EFR,EFSC,EFSH,EFT,EFTR,EFX,EGAN,EGBN,EGF,EGGF,EGHT',
 'EGIO,EGLE,EGLX,EGO,EGP,EGRX,EGY,EHAB,EHC,EHI,EHTH,EIC,EIG,EIGR,EIM,EIX,EJFA,EJH,EKSO,EL,ELA,ELAN,ELBM,ELDN,ELEV,ELF,ELLO,ELMD,ELMS,ELOX,ELS,ELSE,ELTK,ELV,ELVT,ELY,ELYM,ELYS,EMAN,EMBC,EMBK,EMCF,EMD,EME,EMF,EMKR,EML,EMLD,EMN,EMO,EMR,EMWP,EMX,ENB,ENCP,ENDP,ENER,ENFN,ENG,ENJY,ENLV,ENOB,ENOV,ENPC,ENPH,ENR,ENS,ENSC,ENSG,ENSV,ENTA,ENTF,ENTG,ENTX,ENV,ENVA,ENVB,ENVX,ENX,ENZ,EOCW,EOD,EOG,EOI,EOLS,EOS,EOSE,EOT,EP,EPAC,EPAM,EPC,EPHY,EPIX,EPM,EPR,EPRT,EPSN,EPWR,EPZM',
 'EQ,EQBK,EQC,EQD,EQH,EQHA,EQIX,EQOS,EQR,EQRX,EQS,EQT,EQX,ERAS,ERC,ERES,ERF,ERH,ERIE,ERII,ERO,ES,ESAB,ESAC,ESCA,ESE,ESEA,ESGR,ESI,ESLT,ESM,ESMT,ESNT,ESOA,ESP,ESPR,ESQ,ESRT,ESS,ESSA,ESSC,ESTA,ESTC,ESTE,ETAC,ETB,ETD,ETG,ETJ,ETN,ETNB,ETO,ETON,ETR,ETRN,ETSY,ETTX,ETV,ETW,ETWO,ETX,ETY,EUCR,EURN,EVA,EVBG,EVBN,EVC,EVCM,EVE,EVER,EVEX,EVF,EVFM,EVG,EVGN,EVGO,EVGR,EVH,EVI,EVK,EVLO,EVLV,EVM,EVN,EVOJ,EVOK,EVOP,EVR,EVRG,EVRI,EVT,EVTC,EVTL,EVTV,EVV,EW,EWBC,EWCZ,EWTX',
 'EXAS,EXC,EXD,EXEL,EXFY,EXG,EXK,EXLS,EXN,EXP,EXPD,EXPE,EXPI,EXPO,EXPR,EXR,EXTN,EXTR,EYE,EYEN,EYES,EYPT,EZFL,EZGO,EZPW,F,FA,FACA,FACT,FAF,FAM,FAMI,FANG,FARM,FARO,FAST,FAT,FATBB,FATE,FATH,FATP,FAX,FBC,FBHS,FBIO,FBIZ,FBK,FBMS,FBNC,FBP,FBRT,FBRX,FC,FCAP,FCAX,FCBC,FCCO,FCEL,FCF,FCFS,FCN,FCNCA,FCO,FCPT,FCRD,FCT,FCUV,FCX,FDBC,FDEU,FDMT,FDP,FDS,FDUS,FDX,FE,FEAM,FEI,FEIM,FELE,FEMY,FEN,FENC,FEO,FERG,FET,FEXD,FF,FFA,FFBC,FFBW,FFC,FFHL,FFIC,FFIE,FFIN,FFIV,FFNW,FFWM,FGB',
 'FGBI,FGEN,FGF,FGI,FGMC,FHB,FHI,FHLT,FHN,FHTX,FIAC,FIBK,FICO,FICV,FIF,FIGS,FINM,FINS,FINW,FIS,FISI,FISV,FITB,FIVE,FIVN,FIX,FIXX,FIZZ,FKWL,FL,FLAC,FLAG,FLC,FLEX,FLGC,FLGT,FLIC,FLL,FLME,FLNC,FLNG,FLNT,FLO,FLR,FLS,FLT,FLUX,FLWS,FLXS,FLYA,FLYW,FMAO,FMBH,FMC,FMIV,FMN,FMNB,FMTX,FMY,FN,FNA,FNB,FNCB,FNCH,FND,FNF,FNGR,FNHC,FNKO,FNLC,FNV,FNVT,FNWB,FNWD,FOA,FOCS,FOF,FOLD,FONR,FOR,FORA,FORD,FORG,FORM,FORR,FOSL,FOUN,FOUR,FOX,FOXA,FOXF,FOXW,FPAC,FPAY,FPF,FPH,FPI,FPL,FR,FRA',
 'FRAF,FRBA,FRBK,FRBN,FRC,FRD,FREE,FREQ,FREY,FRG,FRGE,FRGI,FRGT,FRHC,FRLA,FRME,FRO,FROG,FRON,FRPH,FRPT,FRSG,FRSH,FRST,FRT,FRW,FRXB,FSBC,FSBW,FSD,FSEA,FSFG,FSI,FSK,FSLR,FSLY,FSM,FSNB,FSP,FSR,FSRD,FSRX,FSS,FSSI,FST,FSTR,FSTX,FSV,FT,FTAA,FTAI,FTCH,FTCI,FTCV,FTDR,FTEK,FTEV,FTF,FTFT,FTHM,FTHY,FTI,FTII,FTK,FTNT,FTPA,FTRP,FTS,FTV,FTVI,FUBO,FUL,FULC,FULT,FUN,FUNC,FUND,FURY,FUSB,FUSN,FUV,FVAM,FVCB,FVIV,FVRR,FVT,FWAC,FWBI,FWONA,FWONK,FWRD,FWRG,FXCO,FXLV,FXNC,FYBR,FZT,G,GAB,GABC',
 'GACQ,GAIA,GAIN,GALT,GAM,GAMB,GAMC,GAME,GAN,GANX,GAPA,GAQ,GASS,GATE,GATO,GATX,GAU,GB,GBAB,GBBK,GBCI,GBDC,GBIO,GBL,GBLI,GBNH,GBNY,GBOX,GBR,GBRG,GBS,GBT,GBTG,GBX,GCBC,GCI,GCMG,GCO,GCP,GCTK,GCV,GD,GDDY,GDEN,GDL,GDNR,GDO,GDOT,GDRX,GDST,GDV,GDYN,GE,GECC,GEEX,GEF,GEG,GENC,GENI,GENQ,GEO,GEOS,GER,GERN,GES,GEVO,GF,GFAI,GFF,GFGD,GFL,GFOR,GFS,GFX,GGAA,GGE,GGG,GGGV,GGMC,GGN,GGPI,GGR,GGT,GGZ,GH,GHAC,GHC,GHIX,GHL,GHLD,GHM,GHRS,GHSI,GHY,GIA,GIAC,GIB,GIC,GIFI,GIGM',
 'GIII,GIIX,GIL,GILD,GILT,GIM,GIPR,GIS,GIW,GKOS,GL,GLAD,GLBE,GLBL,GLBS,GLBZ,GLDD,GLDG,GLEE,GLG,GLHA,GLLI,GLMD,GLNG,GLO,GLOB,GLPI,GLQ,GLRE,GLS,GLSI,GLT,GLTA,GLTO,GLU,GLUE,GLV,GLW,GLYC,GM,GMBL,GMDA,GME,GMED,GMFI,GMGI,GMGT,GMRE,GMS,GMTX,GMVD,GNAC,GNE,GNK,GNL,GNLN,GNPX,GNRC,GNS,GNSS,GNT,GNTX,GNTY,GNUS,GNW,GO,GOAC,GOBI,GOCO,GOED,GOEV,GOF,GOGL,GOGN,GOGO,GOLD,GOLF,GOOD,GOOG,GOOGL,GOOS,GORO,GOSS,GOVX,GP,GPAC,GPC,GPCO,GPI,GPK,GPL,GPMT,GPN,GPOR,GPRE,GPRK,GPRO,GPS,GRAB,GRAY',
 'GRBK,GRC,GRCY,GREE,GRF,GRIL,GRIN,GRMN,GRNA,GRNQ,GROM,GROV,GROW,GROY,GRPH,GRPN,GRTS,GRTX,GRVI,GRWG,GRX,GS,GSAQ,GSAT,GSBC,GSBD,GSEV,GSHD,GSIT,GSL,GSM,GSMG,GSQB,GSQD,GSRM,GSUN,GSV,GT,GTAC,GTBP,GTE,GTEC,GTES,GTHX,GTIM,GTLB,GTLS,GTN,GTPA,GTPB,GTX,GTY,GTYH,GUG,GURE,GUT,GVA,GVCI,GVP,GWAV,GWH,GWII,GWRE,GWRS,GWW,GXII,GXO,GYRO,H,HA,HAAC,HAE,HAFC,HAIA,HAIN,HAL,HALL,HALO,HAPP,HARP,HAS,HASI,HAYN,HAYW,HBAN,HBB,HBCP,HBI,HBIO,HBM,HBNC,HBT,HCA,HCAR,HCAT,HCC,HCCI,HCDI,HCI,HCIC',
 'HCII,HCKT,HCMA,HCNE,HCP,HCSG,HCTI,HCVI,HCWB,HD,HDSN,HE,HEAR,HEES,HEI,HELE,HEPA,HEQ,HERA,HES,HESM,HEXO,HFBL,HFFG,HFRO,HFWA,HGBL,HGEN,HGLB,HGTY,HGV,HHC,HHGC,HHLA,HHS,HI,HIBB,HIE,HIFS,HIG,HIGA,HIHO,HII,HIII,HIL,HILS,HIMS,HIO,HIPO,HITI,HIVE,HIW,HIX,HL,HLAH,HLBZ,HLF,HLGN,HLI,HLIO,HLIT,HLLY,HLMN,HLNE,HLT,HLTH,HLVX,HLX,HMA,HMCO,HMN,HMNF,HMPT,HMST,HMTV,HNGR,HNI,HNNA,HNRA,HNRG,HNST,HNVR,HNW,HOFT,HOFV,HOG,HOLI,HOLX,HOMB,HON,HONE,HOOD,HOOK,HOPE,HORI,HOTH,HOUR,HOUS,HOV,HOWL',
 'HP,HPE,HPF,HPI,HPK,HPLT,HPP,HPQ,HPS,HPX,HQH,HQI,HQL,HQY,HR,HRB,HRI,HRL,HRMY,HROW,HRT,HRTG,HRTX,HRZN,HSAQ,HSC,HSCS,HSDT,HSIC,HSII,HSKA,HSON,HST,HSTM,HSTO,HSY,HT,HTA,HTAQ,HTBI,HTBK,HTCR,HTD,HTGC,HTGM,HTH,HTLD,HTLF,HTOO,HTPA,HTY,HTZ,HUBB,HUBG,HUBS,HUDI,HUGE,HUGS,HUM,HUMA,HUN,HURC,HURN,HUSA,HUT,HVBC,HVT,HWBK,HWC,HWEL,HWKN,HWKZ,HWM,HXL,HY,HYB,HYFM,HYI,HYLN,HYMC,HYPR,HYRE,HYT,HYZN,HZN,HZNP,HZO,HZON,IAA,IAC,IACC,IAE,IAF,IAG,IART,IAS,IAUX,IBCP,IBER,IBEX',
 'IBIO,IBKR,IBM,IBOC,IBP,IBRX,IBTX,ICAD,ICCC,ICCH,ICCM,ICD,ICE,ICFI,ICHR,ICL,ICLR,ICMB,ICNC,ICPT,ICUI,ICVX,ID,IDA,IDAI,IDCC,IDE,IDEX,IDN,IDR,IDRA,IDT,IDW,IDXX,IDYA,IE,IEA,IESC,IEX,IFBD,IFF,IFIN,IFN,IFRX,IFS,IGA,IGAC,IGC,IGD,IGI,IGIC,IGMS,IGNY,IGR,IGT,IGTA,IHD,IHIT,IHRT,IHS,IHT,IHTA,IIF,III,IIII,IIIN,IIIV,IIM,IINN,IIPR,IIVI,IKNA,IKT,ILMN,ILPT,IMAC,IMAQ,IMAX,IMBI,IMCC,IMGN,IMGO,IMH,IMKTA,IMMR,IMMX,IMNM,IMO,IMPL,IMPP,IMPX,IMRA,IMRX,IMTE,IMTX,IMUX,IMV,IMVT,IMXI,INAB',
 'INAQ,INBK,INBX,INCR,INCY,INDB,INDI,INDO,INDP,INDT,INFA,INFI,INFN,INFU,INGN,INGR,INKA,INKT,INM,INMB,INMD,INN,INNV,INO,INOD,INPX,INSE,INSG,INSI,INSM,INSP,INST,INSW,INT,INTA,INTC,INTE,INTG,INTR,INTS,INTT,INTU,INTZ,INUV,INVA,INVE,INVH,INVO,INVZ,INZY,IOAC,IOBT,IONM,IONQ,IONS,IOR,IOSP,IOT,IOVA,IP,IPA,IPAR,IPAX,IPDN,IPG,IPGP,IPI,IPOD,IPOF,IPSC,IPVA,IPVF,IPVI,IPW,IPWR,IQI,IQMD,IQV,IR,IRBT,IRDM,IREN,IRIX,IRL,IRM,IRMD,IRNT,IROQ,IRRX,IRT,IRTC,IRWD,IS,ISAA,ISD,ISDR,ISEE,ISIG,ISLE,ISO',
 'ISPC,ISPO,ISR,ISRG,ISSC,ISTR,ISUN,IT,ITAQ,ITCI,ITGR,ITHX,ITI,ITIC,ITOS,ITP,ITQ,ITRG,ITRI,ITRM,ITRN,ITT,ITW,IVAC,IVC,IVCA,IVCB,IVCP,IVDA,IVH,IVR,IVT,IVZ,IXAQ,IZEA,J,JACK,JAGX,JAKK,JAMF,JAN,JANX,JAQC,JATT,JAZZ,JBGS,JBHT,JBI,JBL,JBLU,JBSS,JBT,JCE,JCI,JCIC,JCSE,JCTCF,JEF,JELD,JEMD,JEQ,JFR,JGGC,JGH,JHAA,JHG,JHI,JHS,JILL,JJSF,JKHY,JLL,JLS,JMAC,JMM,JMSB,JNCE,JNJ,JNPR,JOAN,JOB,JOBY,JOE,JOF,JOFF,JOUT,JPC,JPI,JPM,JPS,JPT,JQC,JRI,JRO,JRS,JRSH,JRVR,JSD,JSPR,JUGG',
 'JUN,JUPW,JVA,JWAC,JWEL,JWN,JWSM,JXN,JYAC,JYNT,JZXN,K,KACL,KAHC,KAI,KAII,KAIR,KAL,KALA,KALU,KALV,KAMN,KAR,KARO,KAVL,KBAL,KBH,KBNT,KBR,KCGI,KD,KDNY,KDP,KE,KELYA,KELYB,KEN,KEQU,KERN,KEX,KEY,KEYS,KF,KFFB,KFRC,KFS,KFY,KGC,KHC,KIDS,KIII,KIM,KIND,KINS,KINZ,KIO,KIQ,KIRK,KKR,KLAC,KLAQ,KLIC,KLR,KLTR,KLXE,KMB,KMDA,KMF,KMI,KMPH,KMPR,KMT,KMX,KN,KNBE,KNDI,KNSA,KNSL,KNSW,KNTE,KNTK,KNX,KO,KOD,KODK,KOP,KOPN,KORE,KOS,KOSS,KPLT,KPRX,KPTI,KR,KRBP,KRC,KREF,KRG,KRMD,KRNL',
 'KRNT,KRNY,KRO,KRON,KROS,KRT,KRTX,KRUS,KRYS,KSCP,KSI,KSM,KSPN,KSS,KTB,KTCC,KTF,KTOS,KTRA,KTTA,KULR,KURA,KVHI,KVSA,KVSC,KW,KWAC,KWR,KXIN,KYCH,KYMR,KYN,KZR,L,LAAA,LAB,LABP,LAC,LAD,LADR,LAKE,LAMR,LANC,LAND,LARK,LASR,LATG,LAUR,LAW,LAX,LAZ,LAZR,LAZY,LBAI,LBBB,LBC,LBPH,LBRDA,LBRDK,LBRT,LBTYA,LBTYB,LBTYK,LC,LCA,LCAA,LCFY,LCI,LCID,LCII,LCNB,LCTX,LCUT,LCW,LDHA,LDI,LDOS,LDP,LE,LEA,LEAP,LECO,LEDS,LEE,LEG,LEGA,LEGH,LEN,LEO,LESL,LEU,LEV,LEVI,LEXX,LFAC,LFG,LFLY,LFMD,LFST,LFT',
 'LFTR,LFUS,LFVN,LGAC,LGI,LGIH,LGL,LGMK,LGND,LGO,LGST,LGTO,LGV,LGVC,LGVN,LH,LHAA,LHC,LHCG,LHDX,LHX,LIBY,LICY,LIDR,LIFE,LII,LILA,LILAK,LILM,LIN,LINC,LIND,LINK,LION,LIQT,LITE,LITM,LITT,LIVB,LIVE,LIVN,LIXT,LJAQ,LJPC,LKCO,LKFN,LKQ,LL,LLAP,LLL,LLNW,LLY,LMACA,LMAO,LMAT,LMB,LMDX,LMFA,LMND,LMNL,LMNR,LMPX,LMST,LMT,LNC,LNDC,LNFA,LNG,LNN,LNSR,LNT,LNTH,LNW,LOAN,LOB,LOCC,LOCL,LOCO,LODE,LOGC,LOGI,LOKM,LOOP,LOPE,LOTZ,LOVE,LOW,LPCN,LPG,LPI,LPLA,LPRO,LPSN,LPTH,LPTX,LPX,LQDA,LQDT,LRCX,LRFC',
 'LRMR,LRN,LSAK,LSBK,LSCC,LSEA,LSF,LSI,LSPD,LSPR,LSTR,LSXMA,LSXMB,LSXMK,LTBR,LTC,LTCH,LTH,LTHM,LTRN,LTRPA,LTRPB,LTRX,LTRY,LUCD,LUCY,LULU,LUMN,LUMO,LUNA,LUNG,LUV,LUXA,LVAC,LVLU,LVO,LVOX,LVRA,LVS,LVTX,LW,LWAY,LWLG,LXFR,LXP,LXRX,LXU,LYB,LYEL,LYFT,LYL,LYLT,LYRA,LYT,LYTS,LYV,LZ,LZB,M,MA,MAA,MAAQ,MAC,MACA,MACC,MACK,MAG,MAIN,MAN,MANH,MANT,MANU,MAPS,MAQC,MAR,MARA,MARK,MAS,MASI,MASS,MAT,MATV,MATW,MATX,MAV,MAX,MAXN,MAXR,MAYS,MBAC,MBCN,MBI,MBII,MBIN,MBIO,MBOT,MBRX,MBSC,MBTC,MBUU',
 'MBWM,MC,MCAA,MCAC,MCAE,MCAF,MCAG,MCB,MCBC,MCBS,MCD,MCFT,MCG,MCHP,MCHX,MCI,MCK,MCLD,MCN,MCO,MCR,MCRB,MCRI,MCS,MCW,MCY,MD,MDB,MDC,MDGL,MDH,MDIA,MDJH,MDLZ,MDNA,MDRR,MDRX,MDT,MDU,MDV,MDVL,MDWD,MDWT,MDXG,ME,MEAC,MEC,MED,MEDP,MEDS,MEG,MEGI,MEI,MEIP,MEKA,MELI,MEOA,MEOH,MERC,MESA,MET,META,METC,METX,MFA,MFC,MFD,MFIN,MFM,MFV,MG,MGA,MGEE,MGF,MGI,MGIC,MGLD,MGM,MGNI,MGNX,MGPI,MGRC,MGTA,MGTX,MGU,MGY,MGYR,MHD,MHF,MHH,MHI,MHK,MHLD,MHN,MHO,MHUA,MICS,MICT,MIDD,MIGI',
 'MILE,MIMO,MIN,MIND,MINM,MIO,MIR,MIRM,MIRO,MIST,MIT,MITA,MITK,MITQ,MITT,MIY,MKC,MKFG,MKL,MKSI,MKTW,MKTX,ML,MLAB,MLAC,MLAI,MLI,MLKN,MLM,MLNK,MLP,MLR,MLSS,MLTX,MLVF,MMAT,MMC,MMD,MMI,MMM,MMMB,MMP,MMS,MMSI,MMT,MMU,MMX,MMYT,MN,MNDO,MNDT,MNDY,MNKD,MNMD,MNOV,MNP,MNPR,MNRL,MNRO,MNSB,MNST,MNTK,MNTN,MNTS,MNTV,MNTX,MO,MOBQ,MOD,MODD,MODN,MODV,MOFG,MOGO,MOH,MON,MORF,MORN,MOS,MOTS,MOV,MOVE,MOXC,MP,MPA,MPAA,MPAC,MPB,MPC,MPLN,MPRA,MPV,MPW,MPWR,MPX,MQ,MQT,MQY,MRAI,MRAM',
 'MRBK,MRC,MRCC,MRCY,MRIN,MRK,MRKR,MRNA,MRNS,MRO,MRSN,MRTN,MRTX,MRUS,MRVI,MRVL,MS,MSA,MSAC,MSB,MSBI,MSCI,MSD,MSDA,MSEX,MSFT,MSGE,MSGM,MSGS,MSI,MSM,MSN,MSP,MSPR,MSSA,MSTR,MSVB,MTA,MTAC,MTAL,MTB,MTBC,MTC,MTCH,MTCR,MTD,MTDR,MTEK,MTEM,MTEX,MTG,MTH,MTMT,MTN,MTNB,MTOR,MTR,MTRN,MTRX,MTRY,MTSI,MTTR,MTVC,MTW,MTX,MTZ,MU,MUA,MUC,MUDS,MUE,MUI,MUJ,MULG,MULN,MUR,MURF,MUSA,MUX,MVBF,MVF,MVIS,MVO,MVST,MVT,MWA,MX,MXC,MXCT,MXE,MXF,MXL,MYD,MYE,MYFW,MYGN,MYI,MYMD,MYN,MYNZ',
 'MYO,MYOV,MYPS,MYRG,MYSZ,NAAC,NABL,NAC,NAD,NAII,NAK,NAN,NAOV,NAPA,NARI,NAT,NATH,NATI,NATR,NAUT,NAVB,NAVI,NAZ,NBB,NBEV,NBH,NBHC,NBIX,NBN,NBO,NBR,NBRV,NBSE,NBST,NBTB,NBW,NBXG,NBY,NC,NCA,NCAC,NCLH,NCMI,NCNO,NCPL,NCR,NCRA,NCSM,NCV,NCZ,NDAC,NDAQ,NDLS,NDMO,NDP,NDRA,NDSN,NE,NEA,NECB,NEE,NEGG,NEM,NEO,NEOG,NEON,NEOV,NEPH,NEPT,NERV,NESR,NET,NETC,NETI,NEU,NEWP,NEWR,NEWT,NEX,NEXA,NEXI,NEXT,NFBK,NFE,NFG,NFGC,NFJ,NFLX,NFNT,NFYS,NG,NGC,NGD,NGM,NGMS,NGS,NGVC,NGVT,NH,NHC',
 'NHI,NHIC,NHS,NHTC,NHWK,NI,NIC,NICK,NID,NIE,NILE,NIM,NINE,NIQ,NISN,NJR,NKE,NKG,NKLA,NKSH,NKTR,NKTX,NKX,NL,NLIT,NLOK,NLS,NLSN,NLSP,NLTX,NLY,NM,NMAI,NMCO,NMFC,NMG,NMI,NMIH,NML,NMMC,NMRD,NMRK,NMS,NMT,NMTC,NMTR,NMZ,NN,NNBR,NNI,NNN,NNOX,NNVC,NNY,NOA,NOAC,NOC,NODK,NOG,NOM,NOMD,NOTV,NOV,NOVA,NOVN,NOVT,NOVV,NOW,NP,NPAB,NPCE,NPCT,NPFD,NPK,NPO,NPTN,NPV,NQP,NR,NRAC,NRBO,NRC,NRDS,NRDY,NREF,NRG,NRGV,NRGX,NRIM,NRIX,NRK,NRO,NRSN,NRXP,NRZ,NS,NSA,NSC,NSEC,NSIT',
 'NSL,NSP,NSPR,NSR,NSSC,NSTB,NSTC,NSTD,NSTG,NSTS,NSYS,NTAP,NTB,NTCT,NTG,NTGR,NTIC,NTIP,NTLA,NTNX,NTP,NTR,NTRA,NTRB,NTRS,NTST,NTUS,NTWK,NU,NUBI,NUE,NUO,NURO,NUS,NUTX,NUV,NUVA,NUVB,NUVL,NUW,NUWE,NUZE,NVAC,NVAX,NVCN,NVCR,NVCT,NVDA,NVEC,NVEE,NVEI,NVFY,NVG,NVGS,NVIV,NVMI,NVNO,NVOS,NVR,NVRO,NVSA,NVST,NVT,NVTA,NVTS,NVVE,NWBI,NWE,NWFL,NWL,NWLI,NWN,NWPX,NWS,NWSA,NX,NXC,NXDT,NXE,NXGL,NXGN,NXJ,NXN,NXP,NXPI,NXPL,NXRT,NXST,NXTC,NXTP,NYC,NYCB,NYMT,NYMX,NYT,NYXH,NZF,O,OACB,OAS',
 'OB,OBCI,OBE,OBLG,OBNK,OBSV,OBT,OC,OCAX,OCC,OCCI,OCFC,OCG,OCGN,OCN,OCSL,OCUL,OCUP,OCX,ODC,ODFL,ODP,ODV,OEC,OEG,OEPW,OESX,OFC,OFED,OFG,OFIX,OFLX,OFS,OGE,OGEN,OGI,OGN,OGS,OHAA,OHI,OHPA,OI,OIA,OII,OIS,OKE,OKTA,OLB,OLED,OLIT,OLLI,OLMA,OLN,OLO,OLP,OLPX,OM,OMC,OMCL,OMEG,OMER,OMEX,OMF,OMGA,OMI,OMIC,OMQS,ON,ONB,ONCR,ONCS,ONCT,ONCY,ONDS,ONEM,ONEW,ONFO,ONL,ONON,ONTF,ONTO,ONTX,ONVO,ONYX,OOMA,OP,OPA,OPAD,OPBK,OPCH,OPEN,OPFI,OPGN,OPHC,OPI,OPK,OPNT,OPOF,OPP,OPRT',

## Data Fetching

Create main DataFrame, including volume of today, previous trading date.

In order to get the previous trading date, we need to call **/previous**, or else we can use **/quote/previousVolume** directly

Data imported from IEX Cloud API.

In [7]:
potentialDataFrameColumns = [
    'Ticker',
    'Price',
    '30 day Average Volume',
    'T0 Date',
    'T0 Volume',
    'T1 Volume',
    'T1 Volume Ratio',
]

potentialDataFrame = pd.DataFrame(columns = potentialDataFrameColumns)

for symbolString in symbolStrings:
    batchApiUrlCall = baseUrl + f'/stock/market/batch?symbols={symbolString}&types=quote,previous&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batchApiUrlCall).json()
#     print(data)
#     print(data.status_code)
    for symbol in symbolString.split(','):
        try:
            latestPrice = data[symbol]['quote']['latestPrice']
        except KeyError:
            latestPrice = np.NaN
        try:
            avgTotalVolume = data[symbol]['quote']['avgTotalVolume']
        except KeyError:
            avgTotalVolume = np.NaN
        try:
            latestVolume = data[symbol]['quote']['latestVolume']
        except KeyError:
            latestVolume = np.NaN
            
        try:
            t0Date = data[symbol]['previous']['date']
        except (KeyError, TypeError):
            t0Date = np.NaN
        try:
            t0Volume = data[symbol]['previous']['volume']
        except (KeyError, TypeError):
            t0Volume = np.NaN
            
        potentialDataFrame = potentialDataFrame.append(
            pd.Series(
                [
                    symbol,
                    latestPrice,
                    avgTotalVolume,
                    t0Date,
                    t0Volume,
                    latestVolume,
                    'N/A'
                ],
                index = potentialDataFrameColumns
            ),
            ignore_index = True
        )

potentialDataFrame

,Ticker,Price,30 day Average Volume,T0 Date,T0 Volume,T1 Volume,T1 Volume Ratio
0,A,122.5,1720620,2022-07-11 00:00:00,1328281,38820,N/A
1,AA,43.62,6818079,2022-07-11 00:00:00,4984276,395682,N/A
2,AAC,10.02,188711,2022-07-11 00:00:00,240526,2679,N/A
3,AACI,10.19,70638,2022-07-11 00:00:00,316,0,N/A
4,AADI,13.21,246571,2022-07-11 00:00:00,65165,2335,N/A
...,...,...,...,...,...,...,...
6209,ZWS,29.95,1099779,2022-07-11 00:00:00,791177,28850,N/A
6210,ZY,1.7,1773243,2022-07-11 00:00:00,869640,138947,N/A
6211,ZYME,6.1,1090905,2022-07-11 00:00:00,603027,77284,N/A
6212,ZYNE,1.2,376927,2022-07-11 00:00:00,240018,20119,N/A
6213,ZYXI,7.565,507924,2022-07-11 00:00:00,388847,10951,N/A

## Data Cleaning

Clean out data with None from API

In [8]:
potentialDataFrame[potentialDataFrame.isnull().any(axis = 1)]
# potentialDataFrame[potentialDataFrame['Price'].isnull()]

,Ticker,Price,30 day Average Volume,T0 Date,T0 Volume,T1 Volume,T1 Volume Ratio
742,BIAF,None,0,NaN,NaN,0,N/A
992,CANB,NaN,NaN,2022-07-11 00:00:00,6918,NaN,N/A
2939,INTS,None,0,NaN,NaN,0,N/A
3425,LUCY,None,0,NaN,NaN,0,N/A
3773,MULG,NaN,NaN,2019-10-29,201,NaN,N/A
3844,NCPL,NaN,NaN,2022-07-08 00:00:00,4609,NaN,N/A
3846,NCRA,NaN,NaN,2022-07-11 00:00:00,477,NaN,N/A
3866,NEOV,NaN,NaN,2022-07-11 00:00:00,21200,NaN,N/A
4095,NYXH,31,0,NaN,NaN,3693,N/A
4176,ONFO,None,0,NaN,NaN,0,N/A
4480,PMN,8.23,57868,NaN,NaN,1654,N/A
4653,QSAM,NaN,NaN,2022-07-07,103,NaN,N/A
5207,SOSH,None,0,NaN,NaN,0,N/A
5915,VRAX,None,0,NaN,NaN,0,N/A
6112,WYTC,None,0,NaN,NaN,0,N/A

In [9]:
potentialDataFrame = potentialDataFrame.dropna()
potentialDataFrame

,Ticker,Price,30 day Average Volume,T0 Date,T0 Volume,T1 Volume,T1 Volume Ratio
0,A,122.5,1720620,2022-07-11 00:00:00,1328281,38820,N/A
1,AA,43.62,6818079,2022-07-11 00:00:00,4984276,395682,N/A
2,AAC,10.02,188711,2022-07-11 00:00:00,240526,2679,N/A
3,AACI,10.19,70638,2022-07-11 00:00:00,316,0,N/A
4,AADI,13.21,246571,2022-07-11 00:00:00,65165,2335,N/A
...,...,...,...,...,...,...,...
6209,ZWS,29.95,1099779,2022-07-11 00:00:00,791177,28850,N/A
6210,ZY,1.7,1773243,2022-07-11 00:00:00,869640,138947,N/A
6211,ZYME,6.1,1090905,2022-07-11 00:00:00,603027,77284,N/A
6212,ZYNE,1.2,376927,2022-07-11 00:00:00,240018,20119,N/A
6213,ZYXI,7.565,507924,2022-07-11 00:00:00,388847,10951,N/A

Drop data with 0 Volume

In [10]:
potentialDataFrame[
    (potentialDataFrame['T0 Volume'] == 0) |
    (potentialDataFrame['T1 Volume'] == 0)
]

,Ticker,Price,30 day Average Volume,T0 Date,T0 Volume,T1 Volume,T1 Volume Ratio
3,AACI,10.19,70638,2022-07-11 00:00:00,316,0,N/A
7,AAMC,10.86,8654,2022-07-11 00:00:00,837,0,N/A
14,AAQC,10.1018,14805,2022-07-11 00:00:00,2372,0,N/A
25,ABGI,10.0,47384,2022-07-08 00:00:00,54,0,N/A
42,ACAH,9.99,29389,2022-07-11 00:00:00,594,0,N/A
...,...,...,...,...,...,...,...
6138,XPAX,9.94,17922,2022-07-08 00:00:00,628,0,N/A
6139,XPDB,10.31,148648,2022-07-11 00:00:00,126,0,N/A
6165,YOTA,9.94,246593,2022-07-11 00:00:00,7138,0,N/A
6200,ZT,9.9,100228,2022-07-11 00:00:00,20183,0,N/A
6208,ZWRK,9.95,95914,2022-07-08 00:00:00,102431,0,N/A

In [11]:
potentialDataFrame.drop(
    potentialDataFrame[
        (potentialDataFrame['T0 Volume'] == 0) |
        (potentialDataFrame['T1 Volume'] == 0)
    ].index,
    inplace = True
)
potentialDataFrame

/usr/local/lib/python3.9/site-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,Ticker,Price,30 day Average Volume,T0 Date,T0 Volume,T1 Volume,T1 Volume Ratio
0,A,122.5,1720620,2022-07-11 00:00:00,1328281,38820,N/A
1,AA,43.62,6818079,2022-07-11 00:00:00,4984276,395682,N/A
2,AAC,10.02,188711,2022-07-11 00:00:00,240526,2679,N/A
4,AADI,13.21,246571,2022-07-11 00:00:00,65165,2335,N/A
5,AAIC,3.22,72107,2022-07-11 00:00:00,66022,11,N/A
...,...,...,...,...,...,...,...
6209,ZWS,29.95,1099779,2022-07-11 00:00:00,791177,28850,N/A
6210,ZY,1.7,1773243,2022-07-11 00:00:00,869640,138947,N/A
6211,ZYME,6.1,1090905,2022-07-11 00:00:00,603027,77284,N/A
6212,ZYNE,1.2,376927,2022-07-11 00:00:00,240018,20119,N/A
6213,ZYXI,7.565,507924,2022-07-11 00:00:00,388847,10951,N/A

## Calculation

Calculate Volume Ratio

In [12]:
for row in potentialDataFrame.index:
    potentialDataFrame.loc[row, 'T1 Volume Ratio'] = potentialDataFrame.loc[row, 'T1 Volume'] / potentialDataFrame.loc[row, 'T0 Volume']
    
potentialDataFrame

/usr/local/lib/python3.9/site-packages/pandas/core/indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/usr/local/lib/python3.9/site-packages/pandas/core/indexing.py:692: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)

,Ticker,Price,30 day Average Volume,T0 Date,T0 Volume,T1 Volume,T1 Volume Ratio
0,A,122.5,1720620,2022-07-11 00:00:00,1328281,38820,0.029226
1,AA,43.62,6818079,2022-07-11 00:00:00,4984276,395682,0.079386
2,AAC,10.02,188711,2022-07-11 00:00:00,240526,2679,0.011138
4,AADI,13.21,246571,2022-07-11 00:00:00,65165,2335,0.035832
5,AAIC,3.22,72107,2022-07-11 00:00:00,66022,11,0.000167
...,...,...,...,...,...,...,...
6209,ZWS,29.95,1099779,2022-07-11 00:00:00,791177,28850,0.036465
6210,ZY,1.7,1773243,2022-07-11 00:00:00,869640,138947,0.159775
6211,ZYME,6.1,1090905,2022-07-11 00:00:00,603027,77284,0.12816
6212,ZYNE,1.2,376927,2022-07-11 00:00:00,240018,20119,0.083823
6213,ZYXI,7.565,507924,2022-07-11 00:00:00,388847,10951,0.028163

## Screening

Screening criteria are as follow:

- Average Volume can't be too low
- T1 Volume can't be too low
- T1 Volume is more than 5 times of T0

In [13]:
volumeLowerBound = float(5e6)
t1traget = float(5)

potentialDataFrame = potentialDataFrame[
    (volumeLowerBound < potentialDataFrame['30 day Average Volume']) &
    (volumeLowerBound < potentialDataFrame['T1 Volume']) &
    (t1traget < potentialDataFrame['T1 Volume Ratio'])
]
potentialDataFrame.sort_values(
    'Ticker',
    ascending = True,
    inplace = True
)
potentialDataFrame.reset_index(inplace = True, drop = True)

potentialDataFrame

<ipython-input-13-230acc7d45ec>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  potentialDataFrame.sort_values(

Empty DataFrame
Columns: [Ticker, Price, 30 day Average Volume, T0 Date, T0 Volume, T1 Volume, T1 Volume Ratio]
Index: []

In [14]:
','.join(potentialDataFrame['Ticker'].to_list())

''

## Data Export

For the ease of the next programe, we will also export the file in CSV version.

In [15]:
from datetime import date

today = date.today().strftime("%Y%m%d")
fileName = f'../export/yau4muk6man4_strategy_{today}_volume_rise'
csvFileName = f'{fileName}.csv'
xlsxFileName = f'{fileName}.xlsx'
sheetName = f'{today} Volume Rise'

Export to csv

In [16]:
potentialDataFrame.to_csv(csvFileName, index = False)

Export to xlsx

In [17]:
writer = pd.ExcelWriter(xlsxFileName, engine = 'xlsxwriter')
potentialDataFrame.to_excel(writer, sheet_name = sheetName, index = False)

In [18]:
backgroundColor = '#0a0a23'
fontColor = '#ffffff'

stringTemplate = writer.book.add_format(
        {
            'font_color': fontColor,
            'bg_color': backgroundColor,
            'border': 1
        }
    )

dollarTemplate = writer.book.add_format(
        {
            'num_format':'$0.00',
            'font_color': fontColor,
            'bg_color': backgroundColor,
            'border': 1
        }
    )

integerTemplate = writer.book.add_format(
        {
            'num_format':'#,###',
            'font_color': fontColor,
            'bg_color': backgroundColor,
            'border': 1
        }
    )

floatTemplate = writer.book.add_format(
        {
            'num_format':'0.0',
            'font_color': fontColor,
            'bg_color': backgroundColor,
            'border': 1
        }
    )

percentTemplate = writer.book.add_format(
        {
            'num_format':'0.0%',
            'font_color': fontColor,
            'bg_color': backgroundColor,
            'border': 1
        }
    )

In [19]:
columnFormats = {
    'A': ['Ticker', stringTemplate],
    'B': ['Price', dollarTemplate],
    'C': ['30 day Average Volume', integerTemplate],
    'D': ['T0 Date', stringTemplate],
    'E': ['T0 Volume', integerTemplate],
    'F': ['T1 Volume', integerTemplate],
    'G': ['T1 Volume Ratio', percentTemplate],
}

for column in columnFormats.keys():
    writer.sheets[sheetName].set_column(
        f'{column}:{column}',
        max(len(columnFormats[column][0]), 10),
        columnFormats[column][1]
    )
    writer.sheets[sheetName].write(
        f'{column}1',
        columnFormats[column][0],
        columnFormats[column][1]
    )

In [20]:
writer.save()